﻿@model TestModel.mCotizacion


@using (Ajax.BeginForm("FiltroCotizacion", "Home", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "ListCotizaciones" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-2">
            Cliente
            @Html.EditorFor(model => model.Cliente, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-md-2">
            Numero poliza
            @Html.EditorFor(model => model.NumeroPoliza, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="col-md-4">
            <div class="checkbox">
                Activo
                @Html.CheckBoxFor(model => model.Activa)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 col-lg-offset-10">
            <input type="submit" value="Buscar" class="btn btn-default" />
            @Ajax.ActionLink("Crear", "NewCotizacion", "Home", new AjaxOptions { UpdateTargetId = "NewCotizacion" }, new { @class = "btn btn-default" })
        </div>
    </div>
}
