﻿@model List<TestModel.mCotizacion>

<table class="table cell-border" id="tbCotizaciones">
    <tr>
        <th>
            Numero Poliza
        </th>
        <th>
            Cliente
        </th>
        <th>
            Tipo de Seguro
        </th>
        <th>
            Forma de Pago
        </th>
        <th>
            Fecha de Vencimiento
        </th>
        <th>
            Fecha de Cotizacion
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroPoliza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSeguro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FormaPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCotizacion)
            </td>
        </tr>
    }
</table>
@if (ViewBag.Error != null)
{
    <script>
        alert("@ViewBag.Error");
    </script>
}
