﻿@{
    ViewBag.Title = "Index";
}

<br />
<br />
<div id="FiltroCotizacion">
    @Html.Action("FiltroCotizacion")
</div>
<br />
<div id="ListCotizaciones">
    @Html.Action("ListCotizaciones")
</div>
<br />
<div id="NewCotizacion">
</div>

@section Scripts{
    <script>
        function fntSiguiente() {
            var form = $("#FormCotizacion");
            form.validate();
            if (form.valid()) {
                $("#dvConfigurarCotizacion").hide();
                $("#dvConfirmarCotizacion").show();
            }
        }

        function fntSuccesCotizacion(rsp) {
            if (rsp.Satisfactorio != undefined) {
                alert(rsp.Msj);
                $("#dvConfigurarCotizacion").show();
                $("#dvConfirmarCotizacion").hide();
                if (rsp.MsjError) console.log(rsp.MsjError);
            } else {
                alert("Datos Guardados con éxito");
                $("#NewCotizacion").html("");
                $("#ListCotizaciones").html(rsp);
            }
        }

        function formatTable() {
            $('#tbCotizaciones').DataTable({
                "ordering": false,
                "info": false,
                "footer": true,
                "Length": false,
                "filter": false
            });
        }
    </script>
}